body{
    font-family: "Roboto";
    margin: 0 auto;
    width: 80%;
}

.paragraph{
    line-height: 25px;
    margin-top: 40px;
    color: rgb(87, 87, 87)
}

.side-column{
    text-align: center;
    margin: 30px 0px 30px 30px;
    float: right;
    width: 300px;
    border: 1px solid black;
    padding: 30px
}

.side-column-card{
    border: 1px solid black;
    margin-top: 20px;
}